.cd-footer {
	background: #303030;
	color: #fff;
	padding: 15px 30px;

	&__foundation-logo {
		margin-top: 10px;
	}

	&__social-icons {
		&__icon {
			color: #303030;
		}
	}

	&__language-picker {
		border-top: 1px solid #fff;
		margin-top: 15px;
	}
}